<div class="container">

  <input type="text" (keyup.enter)="createPost(title.value)" #title class="form-control">

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of posts">
      
      <button class="btn btn-primary" (click)="updatePost(post)">Update</button>
      ||
      <button class="btn btn-danger" (click)="deletePost(post)">Delete</button>

      {{post.title}}

    </li>

  </ul>
</div>
























<!--
<div class="container">
  <h1>Bootcamp Enrollment Form</h1>
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="username" (change)="log(form.controls.username)" class="form-control" name="username">
    </div>
    <div *ngIf="form.controls.username.pending && form.errors">
      <img src="../../assets/loader.gif" alt="sda">
    </div>

    <div class="alert alert-danger" *ngIf="form.controls.username.invalid && form.errors">
        <div *ngIf="form.controls.username.errors.required">
            you must be write the your username
        </div>
        <div *ngIf="form.controls.username.errors.checkSpaceinText">
            not space in character
        </div>
        <div *ngIf="form.controls.username.errors.checkExisting">
          username not exist
        </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control"  name="email">
    </div>
    <div class="alert alert-danger" *ngIf="form.controls.email.invalid && form.errors">
      <div *ngIf="form.controls.email.errors.required">
          you must be write the your email
      </div>
      <div *ngIf="form.controls.email.errors.checkSpaceinText">
          not space in character
      </div>    
  </div>    
    <div class="form-group">
      <label>phone</label>
      <input type="tel" formControlName="phone" class="form-control" name="phone">
    </div>
    <div class="form-group">
      <select class="custom-select form-control" name="selectForm">
        <option value="">I am interested in</option>
        <option *ngFor="let topic of topics" value="{{topic}}">{{topic}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label>Time Prefernce</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePrefernce" value="Morning">
        <label class="form-check-label">Morning</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePrefernce" value="Evening">
        <label class="form-check-label">Evening</label>
      </div>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="subscribe">
      <label for="" class="form-check-label">
        send me promotional offers
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>       
  </form>
</div>
-->